.wrapper {
  text-align: center;
  width: 780px;
}
.tabs-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 30px;
}

.tab {
  position: relative;
  width: 95%;
  margin-top: -2px;
  font-size: 25px;
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 50px;
  background: #f5e8c7;
  border: 1px solid rgba(92, 28, 25, 0.8);
  text-align: center;
  color: rgba(92, 28, 25, 1);
  text-decoration: none;
}

.tab.active {
  width: 100%;
  position: relative;
  font-size: 30px;
  color: rgba(193, 0, 8, 1);
}

.tab:not(.active) {
  background: #f5e8c7;
}

.f {
  border-top-left-radius: 8px;
}

.t {
  border-top-right-radius: 8px;
}

