.header {
  text-align: center;
  vertical-align: middle;
  font-family: "Arial Black", sans-serif;
  font-size: 30px;
  margin: 20px 0 20px 0;
  padding: 10px;
  background: #f5e8c7;
  color: #5c1c19;
}
