.header {
  text-align: center;
  vertical-align: middle;
  font-family: "Arial Black", sans-serif;
  font-size: 30px;
  margin: 20px 0 20px 0;
  padding: 10px;
  background: #f5e8c7;
  color: #5c1c19;
}
.tabsAndContent {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.tabs {
  /*display: inline;*/
  position: relative;
  margin: auto;
}
.main-content {
position: relative;
padding: 40px;
width: 700px;
height: 550px;
margin:20px auto;
background: #f5e8c7;
border: 1px solid rgba(92, 28, 25, 0.8);
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
